@CHARSET "UTF-8";

           
            #header {
                width: 300px; height: 50px;
                border: solid 1px red;
                  margin: 0 auto;
            }
            #nav {
                 width: 400px; height: 50px;
                 border: solid 1px blue;
                 margin: 15px auto 0px; /*top, r/l , bottom */
               
            }
            #content {
                 width: 300px; height: 50px;
                 border: solid 1px blueviolet;
                 margin: -15px auto 10px;
            }
            #maincontent {
                 width: 350px; height: 450px;
                 border: solid 1px blueviolet;
                margin-bottom: 50px;
                
                
            }
            #footer {
                 width: 300px; 
                 border: solid 1px fuchsia;
                 margin-top: 25px;
            }
            
            #container {
                width: 500px; 
                border: solid 1px gray;
               /* padding: 10px 15px 20px 25px;  */
               padding: 15px 25px;
            }
            /* Target by class */
            .warning {color: red;}
            
            /* Target by tag */
            h1 {color: green;}
            
            #footer p {color: chocolate;}
            
            h1 + p {font-weight: bold;}
            
            #footer p:nth-child(2) {color: red;}
