/* 
Link to nav lists
http://css.maxdesign.com.au/listamatic/

http://css.maxdesign.com.au/listamatic/horizontal02.htm

*/
ul#list-0 {list-style-type: lower-latin;}
ul#list-1 {list-style-type: square;}
ul#list-2 {list-style-type: none;}

ul#list-3 {list-style-position: outside;}
ul#list-4 {list-style-position: inside;}

ul#list-3 li, ul#list-4 li {background: lime}


ul#list-5 {
            list-style-type: none;
            border: solid 1px blue;
            width: 600px;
            height: 50px;
            /* padding: 0px */
        }

ul#list-5 li {
        border-right: solid 2px red;
        margin:5px 5px 5px 15px;
        padding-right: 50px;
        float: left;
    }
    
ul#list-5 li:last-child {
        border-right: none;
}
    
ul#list-5 li:first-child {
        border-left: solid 2px red;
        background-color: yellow;
}
    
