.seat {
    height: 20px;
    width: 20px;
    border: solid 1px black;
    background-color: brown;
    margin: 5px;
    float: left;
}
.available { 
    border: solid 1px black;
    background-color: green;
}
.available:hover {background-color: pink}

.preselected {
    border: solid 1px black;
    background-color: yellow;
}

.wchair {
    border: solid 1px black;
    background-color: blue;
}

.reserved {
    border: solid 1px black;
    background-color: gray;
}

#container { border: solid 1px gray;}

.clear {clear: left; }