h1 {color: green;}

a {
    text-decoration: none;
    font-size: 2em;
}
a:link {
    color: darkred;
    border-bottom: 1px solid red;
}

a:visited {  
    color: darkred;
    border-bottom: 1px dashed red;
}

a:hover {
    color: red;
    border-bottom: 1px solid pink;
}

a:active {
    color: yellow;
    border-bottom: 1px solid pink;
}

ul#toclinks li:first-child {color: red;}
ul#toclinks li:last-child {color: violet;}
ul#toclinks li:nth-child(6) {color: green;}

ul#toclinks2 li:nth-child(even) {color: green;}
ul#toclinks2 li:nth-child(odd) {color: red;}

ul#toclinks3 li:nth-child(3n+1) {color: blue;}
